.navbar-brand {
  font-family: 'Poppins', sans-serif;
}

.nav-item .nav-link {
  border: 2px solid #fff;
  padding: 6px 16px;
  border-radius: 15px;
  transition: 0.3s ease;
}

.nav-item .nav-link:hover {
  background-color: #fff;
  color: #000 !important;
}

.nav-item {
  margin-right: 18px;
}
