html, body {
  overflow-x: hidden;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    color: white;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-item .nav-link {
  border: 2px solid #fff;
  padding: 6px 16px;
  border-radius: 15px;
  transition: 0.3s ease;
  
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: #fff;
  color: #000 !important;
}

.nav-item {
  margin-right: 18px;
}

.hero-img {
  max-height: 80vh; 
  object-fit: cover;
  border-radius: 20px;
}

.btn-dark {
  background-color: #000;
  border-radius: 50px;
  padding: 12px 28px;
  letter-spacing: 0.5px;
}

.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.bg-lilac:hover {
    background-color: #D59FE3 !important; 
}

.about-img {
  max-width: 80%;
  border-radius: 20px;
  object-fit: contain;
}


